.number {
  background-color: #eee;
  display: inline-block;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin: 10px;
  font-size: 25px;
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid #ddd;
}
